<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h1>Microsoft Teams</h1> 

    <form action="/newMeeting" method="POST">
      <div class="input-group mb-3">
        <input name="username" placeholder="Enter Name" type="text" class="form-control" required>
      </div>
      <button class="btn btn-primary">New Meeting</button>
    </form>

    <form action="/joinMeeting" method="POST">
    <div class="input-group mb-3">
        <input name="meetingCode" placeholder="Enter Meeting Code" type="text" class="form-control" required>
        <input name="username" placeholder="Enter Name" type="text" class="form-control" required>
      </div>
      <button class="btn btn-primary">Join Meeting</button>      
    </form>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</body>
</html>