<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Teams</title>
    <link rel="stylesheet" href="/stylesheets/meeting.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/1d9b3c3ba8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script>
        const { username, meetingCode } = Qs.parse(location.search, {ignoreQueryPrefix: true,});
        
        </script>
</head>
<body>
    
    <!-- ====================meeting heading=============================== -->
    <nav class="navbar navbar-dark" id="meeting-heading">
        <div class="container-fluid">
            <div class="mx-auto">
                <span class="navbar-brand mb-0 h1">Microsoft Teams Meeting</span>
            </div>
        </div>
    </nav>
    
    <!-- ===================== meeting controls=============================-->
    <nav class="navbar navbar-dark" id="meeting-controls">
        <div class="container-fluid">
            <div class="text-left">
                <span id="meeting-mute" onclick="audioControl()">
                    <button type="button" class="btn btn-secondary">Mute  <i class="fas fa-microphone" ></i></button>
                </span>
                <span id="meeting-video-control" onclick="videoControl()">
                    <button type="button" class="btn btn-secondary">Stop Video <i class="fas fa-video"></i></button>
                </span>
                <button type="button" id="copy-to-clipboard" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy To Clipboard">
                    Copy Meeting Code <i class="fas fa-copy"></i>
                </button>
                <button type="button"  class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#inviteModal">
                    Invite <i class="fas fa-user-plus"></i>
                </button>
            </div>
            <div id="leave mr-0">
                <a href="/" class="btn btn-danger">Leave <i class="fas fa-phone"></i> </a>
            </div>
        </div>
    </nav>


<!-- ================== Invite Modal ==========================================-->
    <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invite Participants</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="invite-form">
                    <div class="modal-body">
                        <div class="input-group flex-nowrap">
                            <input id="meeting-code" type="hidden" name="meetingCode">
                            <input id="sender" type="hidden" name="sender">
                            <input id="receiver-email" type="text" name="email" class="form-control" placeholder="Enter Email" aria-label="Email" aria-describedby="addon-wrapping" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="send-invite-btn">Send Invite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- ==================== meeting container============================== -->
    <div id="meeting-container">
        <div class = "container-fluid">
            <div class="row">
                
                <!-- =========video section========= -->
                <div class="col-md-9" id="meeting-video-grid">
                    <div id= "meeting-video-container"></div>
                </div>
                
                <div class="col-md-3" id="meeting-chat-and-participants">
                    
                    <!-- ===========participants======= -->
                    <h5 id="meeting-participants-heading">Participants</h5>
                    <ul id="meeting-participants">
                        
                    </ul>
                    
                    <!-- =========chat section========= -->
                    <h5 id="meeting-chat-heading">Meeting Chat</h5>
                    <div id="meeting-chat-window">
                        <ul id="meeting-chat-messages"></ul>
                    </div>
                    <div class="input-group" id="meeting-chat-input">
                        <input id="message-input" type="text" class="form-control" placeholder="Send a message to everyone">
                        <span class="input-group-text"><i class="far fa-paper-plane"></i></span>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="scripts/meeting.js"></script>
</body>
</html>